* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: gray;
    font-weight: bold;
    font-size: small;
    border-radius: 5px 5px;

}

.header--nav__home {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 5px 5px;

}

a {
    display: inline;
    color: white;
    padding: 1rem;
}

.logo {
    height: 6rem;
}


h1 {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 1rem;
    font-size: 4rem;
}

.header--title {
    font-size: 6rem;
    display: inline;
    color: white;
}

.description {
    font-size: 1.2rem;
    padding: 1rem;
}

/* gestion des messages */
#message {
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    animation: appear linear 5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.alert {
    background-color: red;
    color: white;
}

.info {
    background-color: lightskyblue;
    color: black;
}

.hidden {
    display: none;
}

/*----------------------------*/

main {
    flex-grow: 1;
}

.container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

}

#myFile {
    width: 100%;
}

.card {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    background-color: aquamarine;

}

.vignette-card {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

}

.titre {
    background-color: bisque;
    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    text-align: center;
}


.folderList {
    width: 100%;
    display: flex;
}

.folderSelect,
.button__ordervalidate {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    color: #fff;
    background-color: #222;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #222;
}

.folderSelect:hover,
.button__ordervalidate:hover {
    color: #222;
    background-color: #fff;
    border-color: #222;
    box-shadow: 1px 1px 5px #222;
    box-shadow: inset 5px 5px 7px #222;

}


.button__ordervalidate {
    display: block;
    z-index: 999;
    width: 40%;
    position: sticky;
    top: 1%;
}









/* 
.galerie__preview {
    width: 100%;
}

.image__orderlist {
    display: flex;
    flex-wrap: wrap;

}

.image__list {
    padding: 0.2rem;
    display: block;
    flex-basis: auto;
    width: 20%;
    height: auto;
}


.image__list-name {
    background-color: white;
    color: black;
}

.image__list-img {
    width: 100%;

} */









.galerie__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Raleway;
    transition: 0.3s;
}

.image__orderlist {
    columns: 5 300px;
    column-gap: 1rem;
    width: 95%;
    margin: 0;
}

.image__list {
    position: relative;
    margin: 0 0.5rem 0.5rem 0;
    display: inline-block;
    width: 100%;
    height: auto;
    border: solid 2px rgba(51, 51, 51, 0.466);
    padding: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
    overflow: hidden;
}

.invisible-link {
    position: absolute;
    /* top, bottom, left et right =0 */
    inset: 0;
}

.image__list:hover {
    border-color: rgba(0, 0, 0, 0.377);
}


.image__list-img {
    position: relative;
    width: 100%;
    /* to resize image with 100% card height */
    scale: 1.05;
    /* margin: 1% 1% 0 1%; */
    transition: all .25s ease-in-out;
}


.image__list-img:hover {
    scale: 1.5;
    transition: all .25s ease-in-out;
}


.image__list-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}


.image__list:hover .image__list-name {
    opacity: 1;
}

/* .img__labelselect {
    width: 100px;
} */

.img__inputselect {
    position: absolute;
    box-shadow: inset 2px 2px 3px #333;
    left: 5%;
    top: 5%;
}

.filigramme {
    position: absolute;
    width: auto;
    height: auto;

}




.cart__preview {
    margin: auto;
}

.cart__preview--button {
    display: flex;
    justify-content: space-around;
    z-index: 999;
    position: sticky;
    top: 1%;

}

.input__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #222;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #fff;

}

.input__customer {
    padding: 1rem;
    margin: 0.5rem;
    border-color: transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 1.1rem;
    color: #222;
    background-color: #fff;
    border-color: #222;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #222;
    display: block;
    width: 45%;
}

.input__customer:hover {
    background-color: aqua;
}

.input__customer:focus {

    color: #fff;
    background-color: #222;
    border: 2px solid #fff;
    box-shadow: 1px 1px 5px #222;

}




/* list in cart */

.image__cartlist-img {
    width: 150px;
}

.image__cartlist-icon {
    width: 50px;
}

.cart__view {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    font-weight: bold;
}

.nblight {
    margin-top: 0;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.plus,
.minus {
    width: 30%;
    height: 30px;
    padding: 0.2rem 0.5rem;
}

.nb {
    width: 63%;
    text-align: center;
    font-size: large;
    margin-bottom: 3%;
}

input.nb {
    width: auto;
    background-color: transparent;
    border: transparent;
    pointer-events: none;

}






.input__name {
    margin: 0.5rem;
}



.upload__form {
    width: 90%;
    background: #333;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

.upload__form ol {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.upload__form li {
    background: #222;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
    width: 30%;
}

/* affichage des fichiers pour le chargement */
.upload__form img {
    height: 100px;
    order: 1;
}

.upload__form p {
    line-height: 32px;
    padding-left: 10px;
}

.upload__form label,
.upload__form button {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    color: black;
}

.upload__form label:hover,
.upload__form button:hover {
    background-color: #000;
    color: white;
}

.upload__form label:active,
.upload__form button:active {
    background-color: #000;
    color: white;
}


footer {
    background-color: gray;
    height: 4.3rem;
    padding: 1rem;
    font-weight: bold;
    font-size: small;
    border-radius: 5px 5px;
}

.footer__unorderlist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

.footer__unorderlist--list {
    width: 18%;
    text-align: center;
    display: inline-block;
    position: relative;
    color: white;
}

.footer__unorderlist--link {
    text-decoration: none;
    color: white;
}